<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true" throwConfigExceptions="true">
<!--To debug issues with logging, in the <nlog> element add the attributes: internalLogFile="log.txt" internalLogLevel="Trace"-->

  <targets>

    <target name="ConsoleLog" xsi:type="ColoredConsole" layout="[${level}] ${logger}: ${message:withexception=true}">
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" backgroundColor="NoChange"/>
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" backgroundColor="NoChange"/>
      <highlight-row condition="level == LogLevel.Info" foregroundColor="NoChange" backgroundColor="NoChange"/>
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" backgroundColor="NoChange"/>
      <highlight-row condition="level == LogLevel.Trace" foregroundColor="DarkGray" backgroundColor="NoChange"/>
    </target>

    <target name="MainLog" xsi:type="File" fileName="${basedir}Logs\RhetosServer.log" encoding="utf-8"
      layout="${longdate}|${level:uppercase=true}|${logger}|${aspnet-user-identity}|${message:withexception=true}"
      archiveAboveSize="2000000" archiveFileName="${basedir}Logs\Archives\RhetosServer.log" archiveSuffixFormat="_{1:yyyyMMdd}_{0}" />

    <target name="TraceLog" xsi:type="AsyncWrapper" overflowAction="Block">
      <target name="TraceLogBase" xsi:type="File" fileName="${basedir}Logs\RhetosTrace.log" encoding="utf-8"
        layout="${longdate}|${level:uppercase=true}|${logger}|${aspnet-user-identity}|${message:withexception=true}"
        archiveAboveSize="10000000" archiveFileName="${basedir}Logs\Archives\RhetosTrace.log" archiveSuffixFormat="_{1:yyyyMMdd}_{0}" />
    </target>

    <target name="TraceCommandsXml" xsi:type="AsyncWrapper" overflowAction="Block">
      <target name="TraceCommandsXmlBase" xsi:type="File" fileName="${basedir}Logs\RhetosServerCommandsTrace.xml" encoding="utf-16"
        layout="&lt;!--${longdate} ${logger}--&gt;${newline}${message}"
        archiveAboveSize="10000000" archiveFileName="${basedir}Logs\Archives\RhetosServerCommandsTrace.log" archiveSuffixFormat="_{1:yyyyMMdd}_{0}" />
    </target>

    <target name="PerformanceLog" xsi:type="AsyncWrapper" overflowAction="Block">
      <target name="PerformanceLogBase" xsi:type="File" fileName="${basedir}Logs\RhetosPerformance.log" encoding="utf-8"
        archiveAboveSize="10000000" archiveFileName="${basedir}Logs\Archives\RhetosPerformance.log" archiveSuffixFormat="_{1:yyyyMMdd}_{0}" />
    </target>

    <target name="AuthorizationLog" xsi:type="AsyncWrapper" overflowAction="Block">
      <target name="AuthorizationLogBase" xsi:type="File" fileName="${basedir}Logs\RhetosAuthorization.log" encoding="utf-8"
        archiveAboveSize="2000000" archiveFileName="${basedir}Logs\Archives\RhetosAuthorization.log" archiveSuffixFormat="_{1:yyyyMMdd}_{0}" />
    </target>

  </targets>

  <rules>

    <!-- Detailed logging of all events, for debugging purposes: -->
    <!-- <logger name="*" minLevel="Trace" writeTo="TraceLog" /> -->

    <!-- Standard logging: -->
    <logger name="*" minLevel="Info" writeTo="ConsoleLog" />
    <!-- Microsoft "Info" events are shown on the console, but then don't need to be logged to the persistent log file (MainLog). -->
    <logger name="Microsoft.*" maxLevel="Info" final="true" />
    <logger name="*" minLevel="Info" writeTo="MainLog" />

    <!-- Logging of web request data (console or RhetosTrace.log) -->
    <!-- <logger name="ProcessingEngine Request" minLevel="Trace" writeTo="ConsoleLog" /> -->
    <!-- <logger name="ProcessingEngine Request" minLevel="Trace" writeTo="TraceLog" /> -->

    <!-- Logging the complete request & response in case of a server error (CommandsWithServerError),
      a client request error (CommandsWithClientError), or for all executed commands (Commands, CommandsResult). --> 
    <logger name="ProcessingEngine CommandsWithServerError" minLevel="Trace" writeTo="TraceCommandsXml" />
    <!-- <logger name="ProcessingEngine CommandsWithClientError" minLevel="Trace" writeTo="TraceCommandsXml" /> -->
    <!-- <logger name="ProcessingEngine Commands" minLevel="Trace" writeTo="TraceCommandsXml" /> -->
    <!-- <logger name="ProcessingEngine CommandsResult" minLevel="Trace" writeTo="TraceCommandsXml" /> -->

    <!-- Detailed performance logging: -->
    <!-- <logger name="Performance*" minLevel="Trace" writeTo="PerformanceLog" /> -->

    <!-- Logging missing user permissions in RhetosAuthorization.log: -->
    <!-- <logger name="AuthorizationManager" minLevel="Trace" writeTo="AuthorizationLog" /> -->

  </rules>

</nlog>
